<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoadIndexPage</servlet-name>
        <servlet-class>src.servlets.LoadIndexPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGalleryPage</servlet-name>
        <servlet-class>src.servlets.LoadGalleryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertiesIndexSearch</servlet-name>
        <servlet-class>src.servlets.PropertiesIndexSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadIndexPage</servlet-name>
        <url-pattern>/LoadIndexPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGalleryPage</servlet-name>
        <url-pattern>/LoadGalleryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertiesIndexSearch</servlet-name>
        <url-pattern>/PropertiesIndexSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
