<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoadIndexPage</servlet-name>
        <servlet-class>src.servlets.LoadIndexPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadGalleryPage</servlet-name>
        <servlet-class>src.servlets.LoadGalleryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertiesIndexSearch</servlet-name>
        <servlet-class>src.servlets.PropertiesIndexSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefinedSearch</servlet-name>
        <servlet-class>src.servlets.RefinedSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSinglePage</servlet-name>
        <servlet-class>src.servlets.LoadSinglePage</servlet-class>
        <init-param>
            <param-name>propertyId</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SetFavourites</servlet-name>
        <servlet-class>src.servlets.SetFavourites</servlet-class>
        <init-param>
            <param-name>propertyID</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoadFavouritesPage</servlet-name>
        <servlet-class>src.servlets.LoadFavouritesPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFavourite</servlet-name>
        <servlet-class>src.servlets.DeleteFavourite</servlet-class>
        <init-param>
            <param-name>propertyID</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>src.servlets.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfile</servlet-name>
        <servlet-class>src.servlets.LoadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>src.servlets.EditProfile</servlet-class>
        <init-param>
            <param-name>edit</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminProperties</servlet-name>
        <servlet-class>src.servlets.LoadAdminProperties</servlet-class>
        <init-param>
            <param-name>userId</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoadSingleProperty</servlet-name>
        <servlet-class>src.servlets.LoadSingleProperty</servlet-class>
        <init-param>
            <param-name>propertyId</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EditProperty</servlet-name>
        <servlet-class>src.servlets.EditProperty</servlet-class>
        <init-param>
            <param-name>userId</param-name>
            <param-value>Value</param-value>
        </init-param>
        <init-param>
            <param-name>propertyId</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminIndex</servlet-name>
        <servlet-class>src.servlets.LoadAdminIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadVendors</servlet-name>
        <servlet-class>src.servlets.LoadVendors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadVendorsProfile</servlet-name>
        <servlet-class>src.servlets.LoadVendorsProfile</servlet-class>
        <init-param>
            <param-name>edit</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EditVendorProfile</servlet-name>
        <servlet-class>src.servlets.EditVendorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAddVendors</servlet-name>
        <servlet-class>src.servlets.LoadAddVendors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVendor</servlet-name>
        <servlet-class>src.servlets.AddVendor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVendors</servlet-name>
        <servlet-class>src.servlets.AddVendors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAddProperty</servlet-name>
        <servlet-class>src.servlets.LoadAddProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProperty</servlet-name>
        <servlet-class>src.servlets.AddProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadIndexPage</servlet-name>
        <url-pattern>/LoadIndexPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadGalleryPage</servlet-name>
        <url-pattern>/LoadGalleryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertiesIndexSearch</servlet-name>
        <url-pattern>/PropertiesIndexSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefinedSearch</servlet-name>
        <url-pattern>/RefinedSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSinglePage</servlet-name>
        <url-pattern>/LoadSinglePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetFavourites</servlet-name>
        <url-pattern>/SetFavourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFavouritesPage</servlet-name>
        <url-pattern>/LoadFavouritesPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFavourite</servlet-name>
        <url-pattern>/DeleteFavourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfile</servlet-name>
        <url-pattern>/LoadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminProperties</servlet-name>
        <url-pattern>/LoadAdminProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSingleProperty</servlet-name>
        <url-pattern>/LoadSingleProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProperty</servlet-name>
        <url-pattern>/EditProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminIndex</servlet-name>
        <url-pattern>/LoadAdminIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadVendors</servlet-name>
        <url-pattern>/LoadVendors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadVendorsProfile</servlet-name>
        <url-pattern>/LoadVendorsProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVendorProfile</servlet-name>
        <url-pattern>/EditVendorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAddVendors</servlet-name>
        <url-pattern>/LoadAddVendors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVendors</servlet-name>
        <url-pattern>/AddVendors</url-pattern>
        <servlet-class>net.codejava.upload.FileUploadServlet</servlet-class>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAddProperty</servlet-name>
        <url-pattern>/LoadAddProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProperty</servlet-name>
        <url-pattern>/AddProperty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
